@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Sigue <a href="https://docs.microsoft.com/aspnet/core">Prueba de intregración continua</a>.</p>
</div>
